{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"env": {
		"development": {
			"targets": {
				"browsers": ["last 1 version"]
			}
		},
		"production": {
			"targets": {
				"browsers": ["last 2 versions"]
			}
		}
	}
}
